attrs==22.2.0
cattrs==22.2.0
certifi==2022.12.7
constructs==10.1.249
google-cloud==0.34.0
google-cloud-storage==2.7.0
importlib-resources==5.10.2
jsii==1.74.0
publication==0.0.3
python-dateutil==2.8.2
six==1.16.0
typing-extensions==4.4.0
wincertstore==0.2
zipp==3.13.0
pandas==1.5.3
xgboost==1.7.3
scikit-learn==1.2.1
pickle5==0.0.11
